* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  margin: 3rem 0;
}

.container {
  width: 960px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
}

button {
  padding: 10px 16px;
  border: 1px solid #666;
  margin: 0 8px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.list li {
  width: 49%;
  height: 200px;
  background: #eee;
  margin-bottom: 20px;
  text-align: center;
  line-height: 200px;
  display: none;
}
